{% extends 'layout.html.twig' %}

{% block content %}
    {% block listHeader %}{% endblock %}
    {% for lecture in lectures %}
        {% include 'shared/lecture-preview.html.twig' %}
        <hr/>
    {% endfor %}
    {% if lectures|length == 0 %}
        <p>Извините, здесь нечего показывать</p>
    {% endif %}
{% endblock %}
