{% extends 'layout.html.twig' %}

{% block content %}
    {% block listHeader %}{% endblock %}
    {% for lecture in pagination.items %}
        {% include 'shared/lecture-preview.html.twig' %}
        <hr/>
    {% endfor %}
    {% if pagination.items|length == 0 %}
        <p>{{ 'Извините, здесь нечего показывать' | trans }}</p>
    {% endif %}
    {% include 'shared/pagination.html.twig' with { 'pagination': pagination.paginationData } %}
{% endblock %}
