<div class="row text-center lecture-reactions" style="font-size: 150%;" data-lecture-id="{{ lecture.id }}">
    <div class="col-lg-3">
        <span
            class="glyphicon glyphicon-thumbs-up tooltip-toggle cursor-pointer like{% if app.user.didLectureLike(lecture) %} disabled{% endif %}"
            data-title="Нравится"
            {% if app.user.didLectureLike(lecture) %}style="color: orangered"{% endif %}
        ></span>
        <span class="like-count">{{ lecture.likesCount }}</span>
    </div>
    <div class="col-lg-3">
        <span
            class="glyphicon glyphicon-thumbs-down tooltip-toggle cursor-pointer dislike {% if app.user.didLectureDislike(lecture) %} disabled{% endif %}"
            data-title="Не нравится"
            {% if app.user.didLectureDislike(lecture) %}style="color: orangered"{% endif %}
        ></span>
        <span class="dislike-count">{{ lecture.dislikesCount }}</span>
    </div>
    <div class="col-lg-3">
        <span
            class="glyphicon glyphicon-star tooltip-toggle cursor-pointer favorite{% if app.user.didLectureFav(lecture) %} favorited{% endif %}"
            data-title="Избранное"
            {% if app.user.didLectureFav(lecture) %}style="color: orangered"{% endif %}
        ></span>
        <span class="fav-count">{{ lecture.favsCount }}</span>
    </div>
</div>
