{% for tag in tags %}
    <a href="{{ path("LectureList", { tags: tag.id, fields: field.id }) }}">
        #{{ tag.name }} ({{ tag.lecture_count }})
    </a>
{% endfor %}

{% if tags|length == 0 %}
    <p class="text-muted">
        ({{ "нет тегов" | trans }})
    </p>
{% endif %}
