<table class="table table-responsive">
    {% for tag in tags %}
        {% if loop.index0 is divisible by(columnsCount) %}<tr>{% endif %}

        <td>
            <a href="{{ path("LectureFiltered", { tags: tag.id, fields: field.id }) }}">
                #{{ tag.name }} ({{ tag.lecture_count }})
            </a>
        </td>

        {% if loop.index is divisible by(columnsCount) %}</tr>{% endif %}
    {% endfor %}

    {#fix last row#}
    {% if tags|length is not divisible by(columnsCount) %}
        {% for i in range(1, columnsCount - tags|length % columnsCount) %}
            <td></td>
        {% endfor %}
        </tr>
    {% endif %}
</table>
