{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Произошла ошибка{% endblock %}
{% block header %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
    <div style="min-height: 80vh;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12">
                <div class="well well-sm" style="border-left: 2px solid red; padding-left: 18px;">
                    <h2>{{ 'Страница не найдена' | trans }}</h2>
                    <p>{{ 'Что бы вы ни искали, здесь этого точно нет. Может, на %s главной странице %s вам повезёт больше?' | trans | format('<a href="' ~ path("Landing") ~ '">', '</a>') | raw }}</p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 45px;">
            <div class="col-lg-4 offset-lg-4">
                {% image
                    '@AppBundle/Resources/public/images/404.jpg'
                    filter='jpegoptim' %}
                    <img src="{{ asset_url }}" alt="Not Found"/>
                {% endimage %}
            </div>
        </div>

    </div>
{% endblock %}
