{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Произошла ошибка{% endblock %}
{% block header %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
    <h1>{{ 'Страница не найдена' | trans }}</h1>
    <p>{{ 'Что бы вы ни искали, здесь этого точно нет. Может, на %s главной странице %s вам повезёт больше?' | trans | format('<a href="' ~ path("Landing") ~ '">', '</a>') | raw }}</p>

    <div class="row" style="margin-top: 45px;">
        <div class="col-lg-4 offset-lg-4">
            {% image
                '@AppBundle/Resources/public/images/404.jpg'
                filter='jpegoptim'
            %}
                <img src="{{ asset_url }}" alt="Not Found"/>
            {% endimage %}
        </div>
    </div>

{% endblock %}
