{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Произошла ошибка{% endblock %}
{% block header %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
    <h1>{{ 'Произошла ошибка' | trans }}</h1>
    <p>{{ 'Наши лучшие инженеры уже пытаются всё починить. Тем временем вы можете %s посмотреть случайную лекцию' | trans | format('<a href="' ~ path("LectureRandom") ~ '">') | raw }}</a></p>

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            {% image
                '@AppBundle/Resources/public/images/500.jpg'
                filter='jpegoptim'
            %}
                <img src="{{ asset_url }}" alt="Error"/>
            {% endimage %}
        </div>
    </div>
{% endblock %}
