{% extends 'layout.html.twig' %}

{% block header %}
    <div style="font-size: 200%; background-image: url('/bundles/app/images/main-bg.png'); background-size: 960px 540px; background-repeat: no-repeat; width: 960px; height: 540px;">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <p>
                    <span class="fa-stack pull-right">
                        <i class="fa fa-chrome fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                    <span class="text">15x4.org</span>
                </p>
                <p>
                    <span class="fa-stack pull-right">
                        <i class="fa fa-vk fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                    <span class="text">vk.com/15x4kyiv</span>
                </p>
                <p style="margin-bottom: 0;">
                    <span class="fa-stack pull-right">
                        <i class="fa fa-facebook fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                    <span class="text">fb.com/15x4kyiv</span>
                </p>


                <div class="clearfix"></div>
                <hr style="border-top: 1px solid #222;"/>

                <p>
                    <span class="fa-stack pull-right">
                        <i class="fa fa-youtube fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                    <span class="text">youtube.com/15x4talks</span>
                </p>
                <p>
                    <span class="fa-stack pull-right">
                        <i class="fa fa-vk fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                    <span class="text">vk.com/15x4talks</span>
                </p>
                <p>
                    <span class="fa-stack pull-right">
                        <i class="fa fa-facebook fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                    <span class="text">fb.com/15x4talks</span>
                </p>
            </div>
        </div>
    </div>

    <style>
        p {
            float: right;
        }
        .col-lg-6 {
            padding-left: 70px;
            padding-right: 70px;
            padding-top: 80px;
        }
        span.fa-stack {
            margin-left: 15px;
        }
        span.text {
            position: relative;
            bottom: -5px;
        }
    </style>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
{% endblock %}
