{% extends 'layout.html.twig' %}

{% block content %}

    <h2 class="text-center" style="width: 100%;">Будущие встречи</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <h4>Харьков - 17.03.2016</h4>

                <p>
                    Место: ул. Карла Маркса 1, "Фабрика"
                </p>

                <p>
                    Темы: будут анонсированы позже
                </p>

            </div>
        </div>

        <div class="col-lg-6">
            <div class="well">
                <h4>Киев - 10.02.2016</h4>

                <p>
                    Место: будет анонсировано позже
                </p>

                <p>
                    Темы: будут анонсированы позже
                </p>
            </div>
        </div>
    </div>

    <h2 class="text-center" style="width: 100%;">Недавние лекции</h2>

    <table class="table table-responsive">
        {% for lecture in lectures %}
            {% if loop.index0 is divisible by(3) %}<tr>{% endif %}

            <td style="width: 33%;">
                {% include('shared/lecture-plate.html.twig') %}
            </td>

            {% if loop.index is divisible by(3) %}</tr>{% endif %}
        {% endfor %}
    </table>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-lg-4 col-lg-offset-4">
            <a class="btn btn-default" style="width: 100%; font-size: 140%;" href="{{ path("LectureList") }}">Все видео</a>
        </div>
    </div>

{% endblock %}
