{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'upcoming-events.html.twig' %}

    <h2 class="text-center" style="width: 100%;">Недавние лекции</h2>

    <table class="table table-responsive noborders" style="background-color: cornsilk;">
        <tr>
            {% for lecture in featured_lectures %}
                <td style="width: 25%; border-style: none;">
                    {% include 'shared/lecture-plate.html.twig' %}
                </td>
            {% endfor %}
        </tr>
    </table>

    <table class="table table-responsive">
        {% for lecture in lectures %}
            {% if loop.index0 is divisible by(4) %}<tr>{% endif %}

            <td style="width: 25%; border-style: none;">
                {% include 'shared/lecture-plate.html.twig' %}
            </td>

            {% if loop.index is divisible by(4) %}</tr>{% endif %}
        {% endfor %}
    </table>

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-lg-4 col-lg-offset-4">
            <a class="btn btn-default" style="width: 100%; font-size: 140%;" href="{{ path("LectureList") }}">Все видео</a>
        </div>
    </div>

{% endblock %}
