{% extends 'layout.html.twig' %}

{% block content %}

    <h2 class="text-center" style="width: 100%;">Будущие встречи</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <h4>Харьков - 28.01.2016</h4>
                <p>
                    <span class="glyphicon glyphicon-ok"></span>
                    15 минут про CRISPR - <i>Максим Лойченко</i>
                </p>

                <p>
                    <span class="glyphicon glyphicon-ok"></span>
                    15 минут про глютен - <i>Мария Кошевая</i>
                </p>

                <p>
                    <span class="glyphicon glyphicon-ok"></span>
                    15 минут об имплантологии - <i>Иван Магда</i>
                </p>

                <p>
                    <span class="glyphicon glyphicon-ok"></span>
                    15 минут про мозг и музыку - <i>Ульяна Громова</i>
                </p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="well">
                <h4>Киев - 27.01.2016</h4>
                <p>
                    <span class="glyphicon glyphicon-ok"></span>
                    15 минут о крахе Цивилизаций - <i>Дмитрий Веселов</i>
                </p>

                <p>
                    <span class="glyphicon glyphicon-ok"></span>
                    15 минут о статистике - <i>Сидора Глеб</i>
                </p>

                <p>
                    <span class="glyphicon glyphicon-ok"></span>
                    15 минут об эволюционной экономике - <i>Александра Горбенко</i>
                </p>

                <p>
                    <span class="glyphicon glyphicon-ok"></span>
                    15 минут о социальном подтексте мультиков Дисней - <i>Мариам Найем</i>
                </p>
            </div>
        </div>
    </div>

    <h2 class="text-center" style="width: 100%;">Недавние лекции</h2>

    <table class="table table-responsive">
        {% for lecture in lectures %}
            {% if loop.index0 is divisible by(3) %}<tr>{% endif %}

            <td style="width: 33%;">
                {% include('shared/lecture-plate.html.twig') %}
            </td>

            {% if loop.index is divisible by(3) %}</tr>{% endif %}
        {% endfor %}
    </table>

{% endblock %}
