<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>15x4 - Share your knowledge!</title>
        <link rel="stylesheet" href="{{ asset('/bundles/app/css/particles-bg.css') }}">
    </head>

    <body>
        <div id="particles-js"></div>
        <div class="count-particles">
            <span class="js-count-particles"></span>
        </div>
        <script src="{{ asset('/bundles/app/js/particles.js') }}"></script>
        <script src="{{ asset('/bundles/app/js/particles-bg.js') }}"></script>
    </body>
</html>
