{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Теги{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div id="cloud-container" style="height: 300px;"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src='https://rentafont.com/web_fonts/js/eHUyODkyZ2lmcjIxNGl3eXY2MzFlbGVobzIwNTlu?f=DIN2014Light' type='text/javascript'></script>

    <script type="text/javascript">
        var colors = [
            'darkred','firebrick','maroon','brown','darkred','firebrick','maroon','brown',
            'black','black',
            'darkorange','orangered',
            'goldenrod'
        ];

        $('#cloud-container').jQCloud(
            [
                {% for tag in tags %}
                    {
                        text: '{{ tag.name }}',
                        weight: 1,
                        link: '{{ path('LectureList', { 'tags': tag.id }) }}',
                        afterWordRender: function () {
                            $(this).find('a')
                                .css('color', colors[Math.floor(Math.random() * colors.length)])
                                .css('font-size', (130 + Math.floor(Math.random() * 100)) + '%')
                            ;
                        }
                    }
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            { delayedMode: true }
        );
    </script>
{% endblock %}
