{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Теги{% endblock %}

{% block content %}
    <h2 class="page-header">Количество тегов: {{ pagination.items|length }}</h2>

    <table class="table table-responsive">
        <tbody>
        {% for tag in pagination.items %}
            {% if loop.index0 is divisible by(4) %}<tr>{% endif %}

            <td style="width: 25%;">
                <a href="{{ path("LectureList", { "tags": tag.id }) }}">{{ tag.name }} ({{ tag.lectures_count }})</a>
            </td>

            {% if loop.index is divisible by(4) %}</tr>{% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% include 'shared/pagination.html.twig' with { 'pagination': pagination.paginationData } %}
{% endblock %}
