{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Теги{% endblock %}

{% block content %}
    <h1 class="page-header">Количество тегов: {{ pagination.items|length }}</h1>

    {% for tag in pagination.items %}
        <h3><a href="{{ path("LectureFiltered", { "tag": tag.id }) }}">{{ tag.name }} ({{ tag.lectures_count }})</a></h3>
        <hr/>
    {% endfor %}

    {% include 'shared/pagination.html.twig' with { 'pagination': pagination.paginationData } %}
{% endblock %}
