{% extends 'layout.html.twig' %}

{% block page_title %}
    15x4 — связаться с нами
{% endblock %}

{% block content %}
    <h2>Связаться с нами</h2>
    <p class="text-muted"><i>15x4 — волонтёрский проект. Учасвтвуя в нём, вы можете сделать мир лучше</i></p>

    <h3>По вопросам открытия лектория в своём городе или сотрудничества</h3>
    <p class="text-muted"><i>15x4 не предоставляет платной рекламы</i></p>
    <p>
        Александр Гапак
        <a href="https://www.facebook.com/aleksandr.gapak">fb</a>
        <a href="mailto:wolfinnigth@gmail.com">emal</a>
        <a href="https://vk.com/alex_gapak">vk</a>
    </p>

    <h3>Стать лектором или волонтёром уже существующего лектория</h3>
    <p>
        Киев, стать лектором. Таня Ли
        <a href="mailto:15x4Kyiv@gmail.com">emal</a>
        <a href="https://vk.com/brunsweek">vk</a>
    </p>
    <p>
        Киев, стать волонтёром. Александра Малевич
        <a href="https://www.facebook.com/ehnara">fb</a>
        <a href="mailto:15x4Kyiv@gmail.com">emal</a>
        <a href="https://vk.com/ehnara">vk</a>
    </p>

    <p>
        Харьков, стать лектором. Ульяна Громова
        <a href="mailto:Malyarchyk.17@gmail.com">emal</a>
        <a href="https://vk.com/hell_low">vk</a>
    </p>

    <p>
        Харьков, стать волонтёром. Александр Гапак
        <a href="https://www.facebook.com/aleksandr.gapak">fb</a>
        <a href="mailto:wolfinnigth@gmail.com">emal</a>
        <a href="https://vk.com/alex_gapak">vk</a>
    </p>

    <p>
        Львов, стать лектором или волонтёром. Дмитрий Кондратюк
        <a href="https://vk.com/feelofeel">vk</a>
    </p>

    <h3>По вопросам, связанным с работой этого сайта</h3>
    <p>
        Сидора Глеб
        <a href="https://www.facebook.com/profile.php?id=100001049885258">fb</a>
        <a href="mailto:gleb.sidora@gmail.com">email</a>
        <a href="https://vk.com/arodiss">vk</a>
    </p>
{% endblock %}
