<div id="footer-shadow" style="height: 75px;"></div>

<footer role="contentinfo" class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>{{ 'Исходный код сайта доступен на' | trans }} <a href="https://github.com/arodiss/15x4">GitHub</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>{{ 'Вы можете распространять и/или модифицировать все видео, размещённые на этом сайте, без каких-либо ограничений' | trans }}</p>
            </div>
        </div>
    </div>
</footer>
