<footer role="contentinfo" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p><small><a href="{{ path("Contacts") }}">Связаться с нами</a></small></p>
                <p><small>Исходный код сайта доступен на <a href="https://github.com/arodiss/15x4">GitHub</a></small></p>
            </div>
            <div class="col-lg-8">
                <p><small>Вы можете распространять и/или модифицировать все видео, размещённые на этом сайте, без каких-либо ограничений</small></p>
                <p><small><a href="https://glyphicons.com/">Glyphicons</a> © generously provided by Jan Kovarik</small></p>
            </div>
        </div>
    </div>
</footer>
