<footer role="contentinfo" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p><small>Контакты:</small></p>
                <p><small>Координатор проекта в Харькове - Александр Гапак <a href="https://www.facebook.com/aleksandr.gapak">fb</a> <a href="mailto:wolfinnigth@gmail.com">emal</a> <a href="https://vk.com/alex_gapak">vk</a></small></p>
                <p><small>Координатор проекта в Киеве - Александра Малевич <a href="https://www.facebook.com/ehnara">fb</a> <a href="mailto:alexandra.vessvit@gmail.com">email</a> <a href="https://vk.com/ehnara">vk</a></small></p>
                <p><small>Вопросы, связанные с работой сайта - Сидора Глеб <a href="https://www.facebook.com/profile.php?id=100001049885258">fb</a> <a href="mailto:gleb.sidora@gmail.com">email</a> <a href="https://vk.com/arodiss">vk</a></small></p>
            </div>
            <div class="col-lg-8">
                <p><small>Вы можете распространять и/или модифицировать все видео, размещённые на этом сайте, без каких-либо ограничений</small></p>
                <p><small>Исходный код сайта доступен на <a href="https://github.com/arodiss/15x4">GitHub</a></small></p>
                <p><small><a href="http://glyphicons.com/">Glyphicons</a> © generously provided by Jan Kovarik</small></p>
            </div>
        </div>
    </div>
</footer>
