<header class="sb-page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <h1>15x4 — Share Your Knowledge!</h1>
                <p>
                    15х4 — это сообщество молодых ученых и фанатов науки.
                </p>
                <p>
                    Мы хотим, чтобы люди выступали и делились знаниями.
                </p>
            </div>
            <div class="col-lg-1 social-icons" style="font-size: 20px;">
                <a href="https://vk.com/15x4talks" target="_blank" class="allow-wrap">
                    <span class="fa-stack pull-right">
                        <i class="fa fa-vk fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
                <a href="https://twitter.com/15x4talks" target="_blank" class="allow-wrap">
                    <span class="fa-stack pull-right">
                        <i class="fa fa-twitter fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
                <a href="https://fb.com/15x4talks" target="_blank" class="allow-wrap">
                    <span class="fa-stack pull-right">
                        <i class="fa fa-facebook fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
                <a href="https://instagram.com/15x4talks" target="_blank" class="allow-wrap">
                    <span class="fa-stack pull-right">
                        <i class="fa fa-instagram fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>
