<header
    style="background-color: #A53000; background-image: url('http://startbootstrap.com/assets/img/bg.png'); padding-top: 60px; padding-bottom: 60px; text-align: left; font-size: 24px; color: white;"
    class="sb-page-header"
    >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>15x4 - Share Your Knowledge!</h1>
                <p>
                    15х4 - это сообщество молодых ученых и фанатов науки.
                    Мы хотим, чтобы люди выступали и делились знаниями.
                </p>
            </div>
        </div>
    </div>
</header>
