<header class="sb-page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>15x4 - Share Your Knowledge!</h1>
                <p>
                    15х4 - это сообщество молодых ученых и фанатов науки.
                </p>
                <p>
                    Мы хотим, чтобы люди выступали и делились знаниями.
                </p>
            </div>
        </div>
    </div>
</header>
