parameters:
    secret: 1234567890123456
    database_password: root
    database_user: root
    database_name: 15x4
    database_host: 127.0.0.1
    database_port: ~

    admin_users:
      admin:
        password: admin
        roles: "ROLE_ADMIN"
    google_analytics_id: 1111

    mailer_password: some_pwd
    mailer_user: some_user

    facebook_id: "111"
    facebook_secret: "xxx"
    vk_id: "111"
    vk_secret: "xxx"
    twitter_id: "111"
    twitter_secret: "xxx"
    google_id: "111.apps.googleusercontent.com"
    google_secret: "xxx"
    google_maps_api_key: "xxx"
    google_2fa_seed: "123"
