{% extends "admin/layout.html.twig" %}

{% block admin_content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Редактировать
            </div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
