{% extends "admin/raw-form.html.twig" %}

{% block admin_content %}
    {{ parent() }}
    <div class="row">
        <div class="col-lg-12">
            <hr/>
        </div>
    </div>
    <div class="btn btn-primary pull-right" id="add-lecture">
        <i class="fa fa-plus-circle fa-inverse"></i>
        &nbsp;
        Добавить лекцию
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% include 'admin/announcement-builder.html.twig' %}
{% endblock %}
