{% extends "admin/layout.html.twig" %}

{% block admin_content %}
    <h2>Welcome to 15х4 admin panel</h2>
    <h4>If it's your first time here, you may be willing to take a look on educational videos (russian):</h4>
    <ul>
        <li><a href="https://youtu.be/sfUgpHhaIgE">General information</a></li>
        <li><a href="https://www.youtube.com/watch?v=PGdkZ1NqfUs">Announcements</a></li>
        <li><a href="https://www.youtube.com/watch?v=RHJIyM42zhM">Translations</a></li>
    </ul>
{% endblock %}
