{% extends "admin/layout.html.twig" %}

{% block admin_content %}
    <h2>Добро пожаловать в интерфейс администрирования сайта 15х4</h2>
    <h4>Если вы здесь первый раз, то вам пригодятся обучающие видео:</h4>
    <ul>
        <li><a href="https://youtu.be/sfUgpHhaIgE">Общая информация</a></li>
        <li><a href="https://www.youtube.com/watch?v=PGdkZ1NqfUs">Анонсы мероприятий</a></li>
        <li><a href="https://www.youtube.com/watch?v=RHJIyM42zhM">Переводы</a></li>
    </ul>
{% endblock %}
