{% extends "layout.html.twig" %}

{% block content %}
    {% block admin_hint %}{% endblock %}
    {% block admin_content %}
        <h4>Добро пожаловать в интерфейс администрирования сайта 15х4</h4>
        <h4>Если вы здесь первый раз, то вам пригодятся обучающие видео:</h4>
        <ul>
            <li><a href="">Общая информация</a></li>
            <li><a href="">Анонсы ивентов</a></li>
            <li><a href="">Переводы</a></li>
        </ul>
    {% endblock %}
{% endblock %}

{% block navigation %}
    {% include "admin/navigation.html.twig" %}
{% endblock %}

{% block page_title %}15x4 – администрирование{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block fe_only_scripts %}{% endblock %}
{% block google_analytics %}{% endblock %}
{% block script_din %}{% endblock %}
