{% extends "layout.html.twig" %}
{% if form is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

{% block content %}
    <h1>Вы находитесь в админке</h1>
    <div class="alert alert-warning" role="alert">
        <p><strong>Это значит, что вы можете поломать этот сайт</strong></p>
        <p>Пожалуйста, будьте аккуратны и проверяйте данные, перед тем как загрузить их</p>
    </div>
    {% block admin_hint%}{% endblock %}
    <hr/>
    <div class="row">
        {% block admin_content %}
            <p>На этой странице нет ничего интересного</p>
            <p>Пожалуйста, воспользуйтесь навигацией, чтобы попасть куда-то ещё</p>
        {% endblock %}
    </div>
{% endblock %}

{% block navigation %}
    {% include "admin/navigation.html.twig" %}
{% endblock %}

{% block page_title %}15x4 – администрирование{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block google_analytics %}{% endblock %}
{% block script_din %}{% endblock %}
