{% extends "admin/list-layout.html.twig" %}

{% block admin_list_content %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Extra info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lecturer in pagination.items %}
                <tr>
                    <td>{{ lecturer }}</td>
                    <td>{{ lecturer.bio }}</td>
                    <td>
                        <a href="{{ path("AdminLecturerEdit", { "id": lecturer.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="delete" href="{{ path("AdminLecturerDelete", { "id": lecturer.id }) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="3">
                {% include 'shared/pagination.html.twig' with { pagination: pagination.paginationData } %}
            </td></tr>
        </tfoot>
    </table>
{% endblock %}
