{% extends "admin/layout.html.twig" %}

{% block admin_panel_header %}
    Наши лекторы
{% endblock %}

{% block admin_content %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Дополнительная информация</th>
            </tr>
        </thead>
        <tbody>
            {% for lecturer in entities %}
                <tr>
                    <td>{{ lecturer }}</td>
                    <td>{{ lecturer.bio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
