{% extends "admin/layout.html.twig" %}

{% block admin_content %}
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% block admin_panel_header %}{% endblock %}
            </div>
            <div class="panel-body">
                {% block admin_list_content %}
                    <p>
                        На этой страничке нет ничего интересного - воспользуйтесь навигацией, чтобы попасть куда-то ещё
                    </p>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Добавить ещё
            </div>
            <div class="panel-body">
                {% if form is defined %}
                    {{ form(form) }}
                {% else %}
                    На этой странице нечего создавать
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
