{% extends "admin/layout.html.twig" %}

{% block admin_content %}

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item{% if not is_list_view %} active{% endif %}">
            <a href="#add" aria-controls="add" role="tab" data-toggle="tab" class="nav-link tab-toggle{% if not is_list_view %} active{% endif %}">
                Add
            </a>
        </li>
        <li role="presentation" class="nav-item{% if is_list_view %} active{% endif %}">
            <a href="#list" aria-controls="list" role="tab" data-toggle="tab" class="nav-link tab-toggle{% if is_list_view %} active{% endif %}">
                List
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="add" role="tabpanel" class="row tab-pane{% if not is_list_view %} active{% endif %}">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        {% if form is defined %}
                            {% block before_form %}
                                <br/>
                            {% endblock %}
                            {{ form(form) }}
                        {% else %}
                            <p>Nothing to create here</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="list" class="row tab-pane{% if is_list_view %} active{% endif %}">
            <div class="col-lg-12">
                {% block admin_list_content %}
                    <p>
                        Nothing interesting here, use navigation to get whenever you need
                    </p>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
