{% extends "admin/list-layout.html.twig" %}

{% block admin_hint %}
    <div class="alert alert-info" role="alert">
        <p><strong>How do I select tags?</strong></p>
        <ul>
            <li>If lecture name is "15 minutes about ХХХ", and ХХХ is not a field name ("15 minutes about talks") and is not very general ("15 minutes about technology", "15 minutes about consciousness") – ХХХ is your first tag</li>
            <li>You can add 0 to 3 more tags</li>
            <li>Select tags in such a way to maximize probability of getting it used in other talks</li>
            <li>If you can create new tag or use existing one - use existing</li>
            <li>If you can use singular or plural - use singular</li>
            <li>Beforementioned rules are not ground truth. You intelligence is</li>
        </ul>
    </div>
{% endblock %}

{% block admin_list_content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag }}</td>
                    <td>
                        <a href="{{ path("AdminTagEdit", { "id": tag.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="delete" href="{{ path("AdminTagDelete", { "id": tag.id }) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="2">
                {% include 'shared/pagination.html.twig' with { pagination: pagination.paginationData } %}
            </td></tr>
        </tfoot>
    </table>
{% endblock %}
