{% extends "admin/list-layout.html.twig" %}

{% block admin_panel_header %}
    Теги (метки) для лекций
{% endblock %}

{% block admin_hint %}
    <div class="alert alert-info" role="alert">
        <p><strong>Как выбрать теги для видео</strong></p>
        <ul>
            <li>Если лекция называется "15 минут о ХХХ", и ХХХ не совпадает с названием дисциплины ("15 минут о лекциях") и не является очень общим ("15 минут о технологиях", "15 минут о сознании") – ХХХ становится первым тегом</li>
            <li>Помимо этого, лекция может иметь от 0 до 3 дополнительных тегов</li>
            <li>Дополнительные теги нужно выбирать так, чтобы максимизировать вероятность того, что под этим тегом будут ещё лекции</li>
            <li>Если можно использовать существующий тег или создать новый – нужно использовать существующий</li>
            <li>Используйте свой мозг</li>
        </ul>
    </div>
{% endblock %}

{% block admin_list_content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Имя тега</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag }}</td>
                    <td>
                        <a href="{{ path("AdminTagEdit", { "id": tag.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="delete" href="{{ path("AdminTagDelete", { "id": tag.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="2">
                {% include 'shared/pagination.html.twig' with { pagination: pagination.paginationData } %}
            </td></tr>
        </tfoot>
    </table>
{% endblock %}
