.about-block {
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
    min-height: 100vh;
    background-image: url('https://www.denversciencefair.com/Photo2015/res/bg.png');
    background-color: #f8f8f8;
    line-height: 180%;
    font-size: 135%;
    text-align: justify;
    text-justify: inter-word;
}

.about-block a {
    text-decoration: underline;
    color: black;
}

.about-block a:hover {
    color: orangered;
}

.about-block.alt {
    background-color: #2f2e30;
    color: white;
}

.about-block.alt a {
    text-decoration: underline;
    color: white;
}

.about-block.alt a:hover {
    color: orangered;
}
