.contact > .row {
    border: 1px solid darkgray;
    border-radius: 6px;
    margin: 3px;
    padding: 2px;
    text-align: center;
}

.contact img {
    width: 128px;
    height: 128px;
    border-radius: 6px;
}

.contact-name {
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 11px;
}

.contact > .row {
    padding: 0;
}

.contact > .row > .col-lg-6 {
    padding: 0;
}

.contact p {
    word-wrap: break-word;
}
