.contact {
    width: 280px;
    padding-bottom: 14px;
}

.contact-img {
    width: 50%;
    float: left;
}

.contact-img > img {
    width: 128px;
    height: 128px;
    border-radius: 64px;
}

.contact-info {
    width: 50%;
    float: left;
    padding-right: 4px;
}

.contact-name {
    font-weight: bold;
    padding-top: 7px;
}

.contact-goal {
    font-size: 95%;
    color: dimgray;
}

.contact-city {
    font-size: 85%;
    color: dimgray;
}

.city-img {
    width: 50%;
    float: left;
}

.city-img > img {
    width: 128px;
    height: 128px;
}
