.plate {
    border-radius: 4px;
    background-size: cover;
    cursor: pointer;
    height: 152px;
}

.plate.row3 {
    height: 203px;
}

.plate a:not(.normal-link) {
    color: white;
    text-decoration: none;
}

@media(min-width:1200px)  {
    .plate:hover .plate-details {
        opacity: 0.8;
    }

    .plate-main {
        font-size: 22px;
    }
}

@media(max-width:1200px) and (min-width:700px)  {
    .plate-main {
        font-size: 18px;
    }
}

@media(max-width: 700px)  {
    .plate-main {
        font-size: 16px;
    }
}

.plate-main {
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.plate-details {
    position: absolute;
    opacity: 0;
    border-radius: 4px;
    transition: opacity .25s ease;
    width: 269px;
    height: 152px;
    overflow: hidden;
    background: #000000;
    color: white;
    padding: 6px;
    z-index: 2;
    font-weight: bold;
    font-size: 12px;
}

.row3 .plate-details {
    width: 364px;
    height: 203px;
}

a.normal-link {
    color: white;
}

a.normal-link:hover {
    color: orangered;
}
