.plate-container.row4 {
    width: 281px;
    padding: 6px;
}

.plate-container.row3 {
    width: 368px;
    padding: 6px;
}

.plate {
    border-radius: 4px;
    background-size: cover;
    cursor: pointer;
    height: 152px;
}

.row3 .plate {
    height: 191px;
}

.plate-main {
    font-size: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.plate-details {
    position: absolute;
    opacity: 0;
    border-radius: 4px;
    transition: opacity .25s ease;
    width: 269px;
    height: 152px;
    overflow: hidden;
    background: #000000;
    color: white;
    padding: 6px;
    z-index: 2;
    font-weight: bold;
    font-size: 12px;
}

.row3 .plate-details {
    width: 356px;
    height: 191px;
}

.plate:hover .plate-details {
    opacity: 0.8;
}

.plate a:not(.normal-link) {
    color: white;
    text-decoration: none;
}

a.normal-link {
    color: white;
}

a.normal-link:hover {
    color: orangered;
}
