footer {
    margin-top: 20px;
    border-top: 2px solid orangered;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #333;
    color: #fff;
    line-height: 70%;
}

footer p {
    line-height: 100%;
}

header {
    background-color: #A53000;
    background-image: url('/bundles/app/images/bg.png');
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    font-size: 24px;
    color: white;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: orangered;
}

a .glyphicon {
    color: black;
}

a:hover .glyphicon {
    color: gray;
}

.jumbotron {
    margin-top: 60px;
    border-left: 4px solid orangered;
}

.nav > li > a:not(.dropdown-toggle):before {
    content: "";
    position: absolute;
    width: 88%;
    margin-left: 6%;
    height: 2px;
    top: 38px;
    bottom: 0;
    left: 0;
    background-color: orangered;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav > li > a:not(.dropdown-toggle):hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.nav .dropdown-menu .fa-stack {
    top: -2px;
}

.nav .dropdown-menu .fa-stack .fa-stack-2x {
    top: 2px;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 999;
    background-color: #666;
    color: #eee;
    width: 60px;
    height: 60px;
    line-height: 56px;
    right: 50px;
    bottom: 40px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    background-color: #888;
}
.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

h3:not(.anchor) {
    border-left: 2px solid orangered;
    padding-left: 10px;
}

.panel-collapse .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

.panel-collapse .panel-body .row {
    margin-bottom: 0;
}

.list-group-item {
    border-width: 0;
}

body > .container:last-of-type {
    min-height: 53vh;
}

.flash {
    position: absolute;
    top: 2%;
    max-width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.popover {
    max-width: 100%;
}

.popover .list-group-item {
    min-width: 120px;
}

.cursor-pointer {
    cursor: pointer;
}
