/*wrapper styles*/
footer {
    border-top: 2px solid orangered;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #333;
    color: #fff;
    line-height: 100%;
    font-size: 13px;
}

header {
    background-color: #A53000;
    background-image: url('/bundles/app/images/bg.png');
    font-family: 'DIN2014Light', sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    font-size: 24px;
    color: white;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: orangered;
}

a .glyphicon {
    color: black;
}

a:hover .glyphicon {
    color: gray;
}

.jumbotron {
    border-radius: 0!important;
    margin-top: 60px;
    border-left: 4px solid orangered;
    background-color: transparent;
}

.nav > li > a:not(.dropdown-toggle):not(.tab-toggle):before {
    content: "";
    position: absolute;
    width: 86%;
    margin-left: 8%;
    height: 2px;
    top: 38px;
    bottom: 0;
    left: 0;
    background-color: orangered;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav > li > a:not(.dropdown-toggle):not(.tab-toggle):hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.social-icons .fa-stack {
    top: -4px;
}

.social-icons .fa-stack .fa-stack-2x {
    top: 2px;
}

.social-icons a {
    color: white;
}

.social-icons a:hover {
    color: orangered;
}
/*end wrapper styles*/

/*scroll to top styles*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 999;
    background-color: #666;
    color: #eee;
    width: 60px;
    height: 60px;
    line-height: 56px;
    right: 50px;
    bottom: 40px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    background-color: #888;
}
.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
/*end scroll to top styles*/

/*generic styles*/
h3:not(.anchor) {
    border-left: 2px solid orangered;
    padding-left: 10px;
}

.panel-collapse .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

.panel-collapse .panel-body .row {
    margin-bottom: 0;
}

.flash {
    position: absolute;
    top: 2%;
    max-width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.popover {
    max-width: 100%;
}

.popover .list-group-item {
    min-width: 120px;
}

.cursor-pointer {
    cursor: pointer;
}

.well a {
    color: black;
    text-decoration: underline;
}

.well a:hover {
    color: orangered;
}

.well.well-no-margin {
    margin-bottom: 0!important;
}
/*end generic styles*/

/*carousel styles*/
.carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 2px solid orangered;
}

.carousel-indicators li.active {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: orangered;
}
/*end carousel styles*/

/*plates styles*/
.plate {
    border-radius: 4px;
    background-size: cover;
    cursor: pointer;
    height: 152px;
}

.plate a {
    color: white;
    text-decoration: none;
}

@media(min-width:1200px)  {
    .plate:hover .plate-details {
        opacity: 0.8;
    }

    .plate-main {
        font-size: 22px;
    }
}

@media(max-width:1200px) and (min-width:700px)  {
    .plate-main {
        font-size: 18px;
    }
}

@media(max-width: 700px)  {
    .plate-main {
        font-size: 16px;
    }
}

.plate-main {
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.plate-details {
    position: absolute;
    opacity: 0;
    border-radius: 4px;
    transition: opacity .25s ease;
    width: 269px;
    height: 152px;
    overflow: hidden;
    background: #000000;
    color: white;
    padding: 6px;
    z-index: 2;
    font-weight: bold;
    font-size: 12px;
}
/*end plates styles*/

/*about page styles*/
.about-block {
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
    min-height: 100vh;
    background-image: url('http://www.denversciencefair.com/Photo2015/res/bg.png');
    background-color: #f8f8f8;
    line-height: 180%;
    font-size: 135%;
    text-align: justify;
    text-justify: inter-word;
}

.about-block a {
    text-decoration: underline;
    color: black;
}

.about-block a:hover {
    color: orangered;
}

.about-block.alt {
    background-color: #2f2e30;
    color: white;
}

.about-block.alt a {
    text-decoration: underline;
    color: white;
}

.about-block.alt a:hover {
    color: orangered;
}
/*end about page styles*/

/*tag cloud styles*/
#cloud-container span a {
    font-size: 160%;
    transition: color 0.5s;
    color: black;
    font-family: 'DIN2014Light', sans-serif;
}

#cloud-container span a:hover {
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.5s;
}
/*end tag cloud styles*/

/*main container height responsiveness*/
@media(min-height:1400px)  {
    #main-container {
        min-height: 1120px;
    }
}

@media(max-height:1300px) and (min-height:1100px) {
    #main-container {
        min-height: 1020px;
    }
}

@media(max-height:1400px) and (min-height:1200px) {
    #main-container {
        min-height: 920px;
    }
}

@media(max-height:1300px) and (min-height:1100px) {
    #main-container {
        min-height: 820px;
    }
}

@media(max-height:1200px) and (min-height:1000px) {
    #main-container {
        min-height: 720px;
    }
}

@media(max-height:1100px) and (min-height:900px) {
    #main-container {
        min-height: 620px;
    }
}

@media(max-height:1000px) and (min-height:800px) {
    #main-container {
        min-height: 520px;
    }
}

@media(max-height:900px) and (min-height:700px) {
    #main-container {
        min-height: 420px;
    }
}

@media(max-height:800px) and (min-height:600px) {
    #main-container {
        min-height: 320px;
    }
}
/*end main container height responsiveness*/
