{% extends 'shared/lecture-list.html.twig' %}

{% block page_title %}15x4 — {{ field }}{% endblock %}

{% block header %}
    <div class="container">
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6">
                <img
                    src="/bundles/app/images/fields/{{ field.getImageName() ? : field.getDefaultImageName() }}"
                />
            </div>
            <div class="col-lg-6">
                <div class="well well-sm well-no-margin">
                    {{ field.getDescription() }}
                </div>
                {% if tags|length > 0  %}
                    {% include "shared/tag-list.html.twig" with { 'tags': tags, 'field': field, 'columnsCount': 4 } %}
                {% else %}
                    <hr/>
                {% endif %}
            </div>
        </div>
        <hr/>
    </div>
{% endblock %}

{% block listHeader %}{% endblock %}
