{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — {{ lecture }}{% endblock %}

{% block content %}
    <div style="margin-top: 10px;">
        {% include 'shared/lecture-preview.html.twig' with { 'forceIframe': true } %}
    </div>

    {#<hr/>#}

    {#Тут будет блок комментариев#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "shared/fb-share-script.html.twig" %}
    {% include "shared/vk-share-script.html.twig" %}
{% endblock %}
