{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — {{ lecture }}{% endblock %}

{% block meta_og_description %}{{ lecture }}{% endblock %}

{% block content %}
    <div style="margin-top: 10px;">
        {% include 'shared/lecture-preview.html.twig' with { 'forceIframe': true } %}
    </div>

    {#<hr/>#}

    {#Тут будет блок комментариев#}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts
        '@AppBundle/Resources/public/js/share.js'
        '@AppBundle/Resources/public/js/like.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
