{% extends 'shared/lecture-list.html.twig' %}

{% block page_title %}
    15x4 — {{ 'Избранные лекции' | trans }}
{% endblock %}

{% block listHeader %}
    <h1> {{ 'Избранные лекции' | trans }} </h1>
    <hr/>
{% endblock %}
