{% extends 'shared/lecture-list.html.twig' %}

{% block page_title %}
    15x4 — Избранные лекции
{% endblock %}

{% block listHeader %}
    <h1> Избранные лекции </h1>

    <hr/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts
        '@AppBundle/Resources/public/js/share.js'
        '@AppBundle/Resources/public/js/like.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
