{% extends 'lecture/details.html.twig' %}

{% block content %}
    <div class="row" style="margin-top: 15px;">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="alert alert-info">
                <p class="text-center"><b>
                        ОПРОС
                </b></p>
                <p class="text-center">
                    Вы поможете проекту, если после просмотра лекции
                    <a style="text-decoration: underline;" href="https://docs.google.com/forms/d/15oobFBHxwO36wUmhf_ZvojfA2D94f5_nmHbojfbiyBI/edit">ответите на несколько вопросов</a>
                    о ней
                </p>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock content %}
