{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-lg-3 text-center">
                <a href="#learn-more">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-question-sign"></span>
                </a>
                <h3 class="anchor">Что такое 15х4?</h3>
                <p>Узнать о проекте больше</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#find-us">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-education"></span>
                </a>
                <h3 class="anchor">Как нас найти?</h3>
                <p>Все наши мероприятия бесплатны</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#initiation">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-grain"></span>
                </a>
                <h3 class="anchor">Как стать лектором?</h3>
                <p>Share Your Knowledge!</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#help-us">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-heart"></span>
                </a>
                <h3 class="anchor">Как стать волонтером?</h3>
                <p>Делай мир лучше вместе с нами</p>
            </div>
        </div>
        <hr/>
    </div>

    <div class="about-block" id="learn-more">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Что такое 15х4?</h2>
                        <p>Узнать о проекте больше</p>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-question-sign"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        15х4 — это сообщество молодых ученых и фанатов науки.
                    </p>
                    <p>
                        Мы хотим, чтобы люди выступали и делились знаниями.
                    </p>
                    <p>
                        Наша цель — создать крупное движение популяризаторов науки, популяризировать саму идею популяризации.
                    </p>
                    <p>
                        Мы проводим эвенты в Харькове и Киеве. Свежие новости можно узнать в наших аккаунтах в соцсетях: <a href="https://vk.com/15x4talks">Vkontakte</a> и <a href="https://fb.com/15x4talks">Facebook</a>. 
                    </p>
                    <p>
                        Мы снимаем видео лекций и выкладываем их на сайт и на ютуб. Подпишись на наш канал, чтобы следить за новыми лекциями: <a href="https://www.youtube.com/c/15x4Talks">Youtube</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block alt" id="find-us">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Как нас найти?</h2>
                        <p>Все наши мероприятия бесплатны</p>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-education"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <p>
                            Анонсы наших мероприятий в Харькове тут: <a href="https://vk.com/15x4kh">Vkontakte</a> и <a href="https://fb.com/15x4kh">Facebook</a>.     
                        </p>
                        <p>
                            Анонсы наших мероприятий в Киеве тут: <a href="https://vk.com/15x4kyiv">Vkontakte</a> и <a href="https://fb.com/15x4kyiv">Facebook</a>.     
                        </p>
                        <p>
                            Сейчас мы открываем лектории во Львове, Одессе и Москве. Если ты хочешь помочь в организации 15х4 в этих или других городах — нажми <a href="#help-us">сюда</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block" id="initiation">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Как стать лектором?</h2>
                        <p>Share Your Knowledge!</p>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-grain"></span>
                    </div>
                </div>
            </div>
            <div class="row" id="initiation">
                <div class="col-lg-12">
                    <div>
                        <p>
                            Мы стараемся выдерживать баланс между лучшими лекторами и новыми лекторами. Именно работа с молодыми лекторами, никогда ранее не выступавшими, и является главной миссией нашего проекта. 
                        </p>
                        <p>
                            Мы не смотрим на регалии или ученые степени.
                        </p>
                        <p>
                            Мы хотим делать качественный контент. Хотим, чтобы люди подходили ответственно к подготовке, чтобы лекторы смотрели видео с собой и думали: «Я отлично справился». Хотим, чтобы зрители смотрели выступление и думали: «Отличная лекция». Нам важно, чтобы человек был целеустремлен и хотел улучшить свое выступление. 
                        </p>
                        <p>
                            Мы проводим несколько репетиций перед лекцией, помогаем с улучшением презентации и текста. Некоторым лекторам на этом этапе предлагаем поменять тему или взять еще время на подготовку. Все вопросы решаются обычно простым голосованием. 
                        </p>
                        <p>
                            Если ты хочешь прочитать лекцию в Харькове, напиши: <a href="https://www.facebook.com/max.merkulov8">Facebook</a> <a href="https://vk.com/hell_low">Vkontakte</a> <a href="mailto:wolfinnigth@gmail.com">email</a>  
                        </p>
                        <p>
                            Если ты хочешь прочитать лекцию в Киеве, напиши:  <a href="https://www.facebook.com/ehnara">Facebook</a>  <a href="https://vk.com/ehnara">Vkontakte</a> <a href="mailto:alexandra.vessvit@gmail.com">email</a>  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block alt" id="help-us">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Как стать волонтером?</h2>
                        <p>Делай мир лучше вместе с нами</p>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>
            </div>
            <div class="row" id="help-us">
                <div class="col-lg-12">
                    <div>
                        <p>
                            В этом году у нас наполеоновские планы по открытию 15х4 в других городах. По состоянию на январь 2016 года мероприятия 15х4 проходят в Харькове и Киеве. Мы уже работаем с организаторами во Львове, Одессе и Москве, лектории в этих городах откроются к весне.
                        </p>
                        <p>
                            Сейчас мы ищем волонтеров в Киеве, Львове, Одессе, Днепропетровске, Минске, Санкт-Петербурге, Нижнем Новгороде, Новосибирске, Екатеринбурге, Москве и других городах. Если ты хочешь помочь с организацией 15х4 в своем городе, даже если не знаешь, чем, напиши нам.
                        </p>
                        <p>
                            Нам нужны: видеооператоры, фотографы, ответственные организаторы, контент-менеджеры социальных сетей и просто эрудированные ребята, которые могут помочь лекторам с подготовкой или стать лекторами. 
                        </p>
                        <p>
                            Если тебя нет в этом списке, но ты хочешь помочь — все равно напиши нам)
                        </p>
                        <p>
                            Пиши сюда: <a href="https://www.facebook.com/aleksandr.gapak">Facebook</a> <a href="https://vk.com/alex_gapak">Vkontakte</a></small> <a href="mailto:wolfinnigth@gmail.com">email</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
